.box-popup>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888888;
    display: none;
}

.modal2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888888;
    display: none;
}

.form {


    padding: 15px;
    display: grid;
    justify-items: baseline;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.sidebar {
    background-color: #333;
    color: rebeccapurple;
    width: 200px;
    height: 100vh;
    top: 0;
    left: -200px;
    transition: left 0.3s ease;
    z-index: 0;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 50px;

}

.sidebar li {

    font-size: 30px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.content {
    padding: 20px;
    margin-left: 200px;
    transition: margin-left 0.3s ease;
}

.open .content {
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .sidebar {
        left: -100%;
    }

    .open .sidebar {
        left: 0;
    }

    .content {
        margin-left: 0;
    }
}

.main {
    display: inline-flex;
}

.tasks {
    width: 900px;
    background-color: aqua;
    display: inline;

}

.project {
    display: block;
    position: relative;
    margin: 10px;
    /* Adjust margin as needed */
}

.project:hover .delete-button {
    display: inline-block;
    background-color: #dc3545;
    color: white;
}

.project:hover .project {
    border: 2px solid #dc3545;
    color: yellow;
    /* Add border on hover */
}

.delete-button {
    position: absolute;
    display: none;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    background-color: transparent;
    color: #dc3545;
    border: none;
    padding: 3px 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
    /* Change color on hover */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.add-row-button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* .add-row-button {
    /* Add your styles for the Add Task button here */